@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitFactors.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="Item.SystemOfUnitsId" />
        <input type="hidden" asp-for="Item.UnitId" />
        @Html.DisabledControlsFor(x => x.Item.SystemOfUnitsId)
        @Html.DisabledControlsFor(x => x.Item.UnitId)
        @Html.EditControlsFor(x => x.Item.Factor)
        @Html.EditControlsFor(x => x.Item.ValidFrom)
        @Html.EditControlsFor(x => x.Item.ValidTo)
    </body>

